<!-- <div class="container-fluid text-white" style="background-color: rgb(65, 64, 64);">
    <footer class="p-5">
      <div class="row">
        <div class="col-2">
          <h2>Section</h2>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <h2>Section</h2>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <h2>Section</h2>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></li>
          </ul>
        </div>
  
        <div class="col-4 offset-1 ">
          <form>
            <h2>Subscribe to our newsletter</h2>
            <p>Monthly digest of whats new and exciting from us.</p>
            <div class="d-flex w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
  
      <div class=" justify-content-center border-top mt-4 py-3" style="text-align: center;">
        <p>&copy; 2021 Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex" style="align-items: center; justify-content: center;">
          <li class="ms-3">
            <a class="fa fa-facebook" href="#"></a></li>
          <li class="ms-3">
            <a class="fa fa-twitter" href="#"></a></li>
          <li class="ms-3">
            <a class="fa fa-instagram" href="#"></a></li>
            <li class="ms-3">
                <a class="fa fa-linkedin" href="#"></a></li>
                <li class="ms-3">
                    <a class="fa fa-google" href="#"></a></li>
        </ul>
      </div>
    </footer>
  </div> -->

  <footer class="pmd-footer" style="background-color: rgb(65, 64, 64);">
    <div class="container">
      <div class="row pb-4">
        <div class="col-md-2 col-sm-6 col-12 p-3 mt-5">
          <ul class="pmd-footer-nav flex-column text-center sm-mb-2" style="list-style-type: none; line-height: 25px;">
            <li class="pmd-listing-title text-white " style="font-size: 20px;">Products</li><br>
            <li><a href="" style="font-size: 17px;" class="text-decoration-none text-white">Technology</a></li>
            <li><a href="" style="font-size: 17px;" class="text-decoration-none text-white">Services</a></li>
            <li><a href="" style="font-size: 17px;" class="text-decoration-none text-white">Features</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-6 col-12 p-3 mt-5">
          <ul class="pmd-footer-nav flex-column text-center sm-mb-2"  style="list-style-type: none; line-height: 25px;">
            <li class="pmd-listing-title text-white " style="font-size: 20px;">Support</li><br>
            <li><a href="" style="font-size: 17px;" class="text-decoration-none text-white">Blog</a></li>
            <li><a href="" style="font-size: 17px;" class="text-decoration-none text-white">Help</a></li>
            <li><a href="" style="font-size: 17px;" class="text-decoration-none text-white">FAQ</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-6 col-12 p-3 mt-5">
          <ul class="pmd-footer-nav flex-column text-center" style="list-style-type: none; line-height: 25px;" >
            <li class="pmd-listing-title text-white " style="font-size: 20px;">About Us</li><br>
            <li><a href="" style="font-size: 17px;" class="text-decoration-none text-white">Profile</a></li>
            <li><a href="" style="font-size: 17px;" class="text-decoration-none text-white">Career</a></li>
            <li><a href="" style="font-size: 17px;" class="text-decoration-none text-white">News</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-12 p-3 mt-5">
          <form>
            <h2 class="text-white">Subscribe to our newsletter</h2>
            <p class="text-white">Monthly digest of whats new and exciting from us.</p>
            <div class="d-flex w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
      <div class=" justify-content-center border-top py-3" style="text-align: center;">
        <p class="text-white">&copy; 2021 Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex" style="align-items: center; justify-content: center;">
          <li class="ms-3">
            <a class="fa fa-facebook" href="#"></a></li>
          <li class="ms-3">
            <a class="fa fa-twitter" href="#"></a></li>
          <li class="ms-3">
            <a class="fa fa-instagram" href="#"></a></li>
            <li class="ms-3">
                <a class="fa fa-linkedin" href="#"></a></li>
                <li class="ms-3">
                    <a class="fa fa-google" href="#"></a></li>
        </ul>
      </div>
    </div>
  </footer>
  