<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="container-fluid" style="margin-bottom: 4%; position: relative; ">
    <div class="row" style="gap: 0px;">

      <div class="col-6"  style="background-color:#1e8ed8; gap: 0px; flex: 0 0 auto; width: 50%;">
        <div class="inner-hire-left" data-aos="zoom-in">
          <h3>Hire an employee</h3>
          <p>placerat congue dui rhoncus sem et blandit... Ut dapibus placerat blandi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quos quam sequi libero temporibus id repellat consequatur, minus sed. Voluptate!</p>
          <a href="#" class="jobguru-btn-3">sign up as a company</a>
        </div>
      </div>
      <div class="col-6" [@fadeZoomAnimation]="'void'">
        <div class="inner-hire-right" data-aos="slide-right">
          <img src="https://themescare.com/demos/jobguru-version-2/assets/img/hire_bg.jpg" alt="" width="105%" height="400px" style="position: relative; z-index: 1;">
        </div>
      </div>
    </div>
  </div>
  