
<body>
<!-- <div class="container mb-5" style="margin-top: -150px; ">
<div class="row g-0"  style="align-items: center; justify-content: center; text-align: center; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
  <div class="col-2">
    <div class="card" style="border-radius: 0; cursor: pointer;">
        <div class="card-body">
        <div class="card-head">
            <h2>Website and Training</h2>
        </div>
        <div class="card-icon">
            <i class="fa fa-graduation-cap" style="font-size: 40px;"></i>
        </div>
        <div class="card-info mt-3">
            <p>143 Open Positions</p>
        </div>
        </div>
    </div>
  </div>
  <div class="col-2">
  <div class="card" style="border-radius: 0; cursor: pointer;">
      <div class="card-body">
      <div class="card-head">
          <h2>Education and Training</h2>
      </div>
      <div class="card-icon">
          <i class="fa fa-graduation-cap" style="font-size: 40px;"></i>
      </div>
      <div class="card-info mt-3">
          <p>143 Open Positions</p>
      </div>
      </div>
  </div>
  </div>
  <div class="col-2">
  <div class="card" style="border-radius: 0; cursor: pointer;">
      <div class="card-body">
      <div class="card-head">
          <h2>Graphic and UI/UX Design</h2>
      </div>
      <div class="card-icon">
          <i class="fa fa-table" style="font-size: 40px;"></i>
      </div>
      <div class="card-info mt-3">
          <p>143 Open Positions</p>
      </div>
      </div>
  </div>
  </div>
  <div class="col-2">
  <div class="card" style="border-radius: 0; cursor: pointer;">
      <div class="card-body">
      <div class="card-head">
          <h2>Account and Finance</h2>
      </div>
      <div class="card-icon">
          <i class="fa fa-calculator" style="font-size: 40px;"></i>
      </div>
      <div class="card-info mt-3">
          <p>143 Open Positions</p>
      </div>
      </div>
  </div>
  </div>
  <div class="col-2">
  <div class="card" style="border-radius: 0; cursor: pointer;">
      <div class="card-body">
      <div class="card-head">
          <h2>Restaurent and Food</h2>
      </div>
      <div class="card-icon">
          <i class="fa fa-android" style="font-size: 40px;"></i>
      </div>
      <div class="card-info mt-3">
          <p>143 Open Positions</p>
      </div>
      </div>
  </div>
  </div>
  <div class="col-2">
  <div class="card" style="border-radius: 0; cursor: pointer;">
      <div class="card-body">
      <div class="card-head">
          <h2>Website and Software</h2>
      </div>
      <div class="card-icon">
          <i class="fa fa-stethoscope" style="font-size:40px"></i>
      </div>
      <div class="card-info mt-3">
          <p>143 Open Positions</p>
      </div>
      </div>
  </div>
  </div>
</div>
</div> -->



<div class="container" id="search">
<form class="registration-form">
  <div class="row" >
      <div class="col-lg-3 col-md-6" style="margin-top: 1.5%;" >
          <div class="registration-form-box" >
              <i class="fa fa-briefcase" style="font-size: 20px;"></i>&nbsp;
              <input type="text" id="exampleInputName1" class="form-control registration-input-box" placeholder="Job keywords...">
          </div>
      </div>
      <div class="col-lg-3 col-md-6" style="margin-top: 1.5%;">
          <div class="registration-form-box">
              <i class="fa fa-location-arrow" style="font-size: 20px;"></i>&nbsp;
              <select id="select-country" class="form-control registration-input-box" placeholder="Search Location...">
                  <option value="">Search Location....</option>
                  <option value="AF">Afghanistan</option>
                  <option value="AX">&Aring;land Islands</option>
                  <option value="AL">Albania</option>
                  >
                  <option value="ZM">Zambia</option>
                  <option value="ZW">Zimbabwe</option>
              </select>
          </div>
      </div>
      <div class="col-lg-3 col-md-6" style="margin-top: 1.5%;">
          <div class="registration-form-box">
              <i class="fa fa-list-alt" style="font-size: 20px;"></i>&nbsp;
              <select id="select-category" class="form-control registration-input-box" placeholder="Categories...">
                  <option value="">Categories...</option>
                  <option value="4">Accounting</option>
                  <option value="1">IT & Software</option>
                  <option value="3">Marketing</option>
                  <option value="5">Banking</option>
              </select>
          </div>
      </div>        <div class="col-lg-3 col-md-6" style="margin-top: 1.5%;">
          <div class="registration-form-box">
              <input type="submit" id="submit" name="send" class="submitBnt btn btn-custom btn-block" value="Submit"><br><br>
          </div>
      </div>
  </div>
</form><br>
</div>





</body>


