<div class="container" style="margin: 100px 80px;" id="design">
    <div class="row">
        <div class="col-3" data-aos="fade-up-left">
            <img src="/assets/images/resume.png" alt="" width="80" height="80" class="mb-2">
            <h2>Search Millions of jobs</h2>
            <p>A small river named duben flows by their places and supplies.</p>
        </div>
        <div class="col-3" data-aos="fade-up-right">
            <img src="/assets/images/partners.png" alt="" width="80" height="80" class="mb-2">
            <h2>Search Millions of jobs</h2>
            <p>A small river named duben flows by their places and supplies.</p>
        </div>
        <div class="col-3" data-aos="fade-down-left">
            <img src="/assets/images/promotion.png" alt="" width="80" height="80" class="mb-2">
            <h2>Search Millions of jobs</h2>
            <p>A small river named duben flows by their places and supplies.</p>
        </div>
        <div class="col-3" data-aos="fade-down-right">
            <img src="/assets/images/staff.png" alt="" width="80" height="80" class="mb-2">
            <h2>Search Millions of jobs</h2 >
            <p>A small river named duben flows by their places and supplies.</p>
        </div>
    </div>
  </div>