<div class="site-heading p-5" style=" margin-top: 5%;">
  <h2 style="    font-size: 40px;">Our <span>Blogs</span></h2></div>
<div class="container" style="margin-top: -30%;">
  <mat-grid-list cols="4" rowHeight="1:3.75" style="gap: 10px;">
    <mat-grid-tile>
        <mat-card class="example-card" >
            <div class="imagecard">
                <button mat-raised-button color="primary" style="margin: 15px;">Article</button>
            </div>
            <mat-card-content>
                <!-- <mat-card-title style="font-size: 15px;">BY ADMIN/ ON 1 SEP, 2018</mat-card-title>
                <mat-card-title style="font-size: 15px; line-height: 1.2rem;">ELIT DUIED AIUSMOD TEMPOR DID LABORE DOLORY</mat-card-title><br> -->
              <p style="font-size: 15px; line-height: 1.3rem;">
                Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt. 
              </p>
            </mat-card-content>
            <mat-card-actions style="background-color: rgb(248, 248, 248);">
                <mat-card-header style="margin: -3%;">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title style="font-size: 15px;">Aariz Fischer</mat-card-title>
                    <mat-card-subtitle style="font-size: 15px;">Feb 4 · 5 min read</mat-card-subtitle>
                  </mat-card-header>     
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <div class="imagecard1">
                <button mat-raised-button color="primary" style="margin: 15px;">Article</button>
            </div>
            <mat-card-content>
                <!-- <mat-card-title style="font-size: 15px;">BY ADMIN/ ON 1 SEP, 2018</mat-card-title>
                <mat-card-title style="font-size: 15px; line-height: 1.2rem;">ELIT DUIED AIUSMOD TEMPOR DID LABORE DOLORY</mat-card-title><br> -->
              <p style="font-size: 15px; line-height: 1.3rem;">
                Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt. 
              </p>
            </mat-card-content>
            <mat-card-actions style="background-color: rgb(248, 248, 248);">
                <mat-card-header style="margin: -3%;">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title style="font-size: 15px;">Aariz Fischer</mat-card-title>
                    <mat-card-subtitle style="font-size: 15px;">Feb 4 · 5 min read</mat-card-subtitle>
                  </mat-card-header>     
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <div class="imagecard2">
                <button mat-raised-button color="primary" style="margin: 15px;">Article</button>
            </div>
            <mat-card-content>
                <!-- <mat-card-title style="font-size: 15px;">BY ADMIN/ ON 1 SEP, 2018</mat-card-title>
                <mat-card-title style="font-size: 15px; line-height: 1.2rem;">ELIT DUIED AIUSMOD TEMPOR DID LABORE DOLORY</mat-card-title><br> -->
              <p style="font-size: 15px; line-height: 1.3rem;">
                Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt. 
              </p>
            </mat-card-content>
            <mat-card-actions style="background-color: rgb(248, 248, 248); ">
                <mat-card-header style="margin: -3%;">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title style="font-size: 15px;">Aariz Fischer</mat-card-title>
                    <mat-card-subtitle style="font-size: 15px;">Feb 4 · 5 min read</mat-card-subtitle>
                  </mat-card-header>    
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
          <div class="imagecard1">
              <button mat-raised-button color="primary" style="margin: 15px;">Article</button>
          </div>
          <mat-card-content>
              <!-- <mat-card-title style="font-size: 15px;">BY ADMIN/ ON 1 SEP, 2018</mat-card-title>
              <mat-card-title style="font-size: 15px; line-height: 1.2rem;">ELIT DUIED AIUSMOD TEMPOR DID LABORE DOLORY</mat-card-title><br> -->
            <p style="font-size: 15px; line-height: 1.3rem;">
              Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt. 
            </p>
          </mat-card-content>
          <mat-card-actions style="background-color: rgb(248, 248, 248);">
              <mat-card-header style="margin: -3%;">
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title style="font-size: 15px;">Aariz Fischer</mat-card-title>
                  <mat-card-subtitle style="font-size: 15px;">Feb 4 · 5 min read</mat-card-subtitle>
                </mat-card-header>     
          </mat-card-actions>
        </mat-card>
  </mat-grid-tile>
    <!-- <mat-grid-tile></mat-grid-tile> -->
  </mat-grid-list>
</div>

